---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Farras Projects"
  seoTitle="My Projects with Python, Astro, Java"
  seoDesc="My Awards winning projects with Python, Astro, and Java"
>
  <div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl my-2">Projects</h1>
    <div class="grid md:grid-cols-2 gap-2">
      <a href="/projects/astro"
        ><img
          class="rounded"
          src="/images/astro.png"
          width="300px"
          height="300x"
        /></a
      >
      <a href="/projects/java"
        ><img
          class="rounded"
          src="/images/java.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/python"
        ><img
          class="rounded"
          src="/images/python.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/c++"
        ><img
          class="rounded"
          src="/images/c++.png"
          width="300px"
          height="300px"
        /></a
      >
    </div>
  </div>
</MainLayout>
